.social_img{
    width:100vw;
    height:400px;
    
    display: flex;
    margin-bottom:60px;
}

.social_img .img{
   height:300px;
    padding:20px;
    width:430px;
    margin-left: 250px;

}

.social_img .img img{
    height:300px;
    width:430px;
    mix-blend-mode: darken;
    margin-left:20px;
    border-radius:10px
   
}

.social_img .content{
    margin-left:-50px;
    margin-top:50px
    
}

.social_img .content h2{
    margin-top:50px;
    font-weight: 700;
  

}

.social_img .content p{
    margin-left: -110px;
}

/* .social_img .img img:hover{
    scale:0.9;
    transition: 1s;
} */