.container {
    position: relative;
    top: 300px;
    height: 400px;
    width: 100vw;
    padding: 40px;
}

.website {
    height: 300px;
    width: 500px;
    margin-left: 450px;
    padding: 10px
}

.website h2 {
    font-size: xx-large;
}

.website h3 {
    font-size: x-large;
    color: #2128bd;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
}

.website p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.webimg {
    height: 300px;
    width: 500px;
    position: relative;
    left: 1000px;
    bottom: 320px
}

.webimg img {
    height: 300px;
    width: 500px;
    /* position: relative;
    left: 1000px */
}

.webimg img:hover {
    scale: 1.1;
    transition: 1s;
}